*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: rgb(255, 189, 189);
}
body{
    height: auto;
    background-image:linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}
.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(20, 17, 17);
}
.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: aliceblue;
    cursor: pointer;
    z-index: 1;

}
.theme-toggler.active{
    color: antiquewhite;
}
.theme-toggler.active::before{
    background-color: rgb(255, 255, 255);
}
.theme-toggler::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background-color: rgb(49, 36, 36);
    z-index: -1;
}
/* light mode */
#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor:pointer;
    transition: all 200ms ease;
}
button:hover{
    transform: scale(1.15);

}
/* button#equal{
    height:130px;
} */

.calculator{
    background-color: white;
}
.calculator #display{
    color: black;
}
.calculator button#clear{
    background-color: white;
    color: red;
}
.calculator button.btn-operator{
    /* background-color: white; */
    color: red;
}
/* dark mode */
.calculator.dark{
    background-color: black;

}
.calculator.dark #display{
    color:white ;
}
.calculator.dark button#clear{
    background-color: #2d191e;
    color: red;
}
.calculator.dark button.btn-number{
    background-color: #1b2f38;
    color: white;
}
.calculator.dark button.btn-operator{
    background-color: #223323;
    color: rgb(85, 230, 241);
}
